/* jakeIRC styles*/

body {
	width: 100%;
	margin: 5%;

	overflow-x: hidden;
}

.row {
	width: 90%;
}

.chat-window, .user-list, .channel-list, .input-field, .nav-bar {
	background: #E9E9E9;
}

.chat-window, .user-list, .channel-list {
	min-height: 350px;

	border: 1px solid #000;
	border-radius: 10px;
}

.input-field {
	margin-top: 20px;
	height: 60px;

	border: 1px solid #000;
	border-radius: 10px;
}

.input-field button, .input-field p {
	margin-top: 15px;
}

.nav-bar {
	height: 50px;
	margin-bottom: 20px;

	border: 1px solid #000;
	border-radius: 10px;
}

.nav-bar button {
	margin-top: 10px;
}

.channel-list button {
	margin-right: 10px;
}

.form-control {
	margin-top: 10px !important;
}