<!-- This is the connect template-->
<template name="connect">
	<div class = "row">

		<div class = "col-xs-12 connect-field">
		<h2> Connect to a channel </h2>
			<div class = "col-xs-12">
				<div class="col-xs-4">
					<h4> Username: </h4>
				</div>
				<div class="col-xs-8"> 
					<input id="user-name" class="form-control col-xs-10" placeholder="enter username (ex. jakeIRC)"> 
				</div>
			</div>

			<div class = "col-xs-12">
				<div class="col-xs-4">
					<h4> Server: </h4>
				</div>
				<div class="col-xs-8"> 
					<input id="server-name" class="form-control col-xs-10" placeholder="enter server (ex. irc.freenode.net)"> 
				</div>
			</div>

			<div class = "col-xs-12">
				<div class="col-xs-4">
					<h4> Channel: </h4>
				</div>
				<div class="col-xs-8"> 
					<input id="channel-name" class="form-control col-xs-10" placeholder="enter channel (ex. #winter-irc-test)"> 
				</div>
			</div>

			<div class = "col-xs-12">
				<div class = "col-xs-4"></div>
				<div class = "col-xs-5">
					<button type="button" class="btn btn-default" id="connect-btn">connect to irc channel</button>	
				</div>
				<div class = "col-xs-3"></div>
			</div>
		</div>

	</div>
</template>