<!-- This is the header template -->
<template name="header">
	<header class = "row">
		<div class="col-xs-12 nav-bar">
			<div class="col-xs-2">
				<h4>jakeIRC</h4>
			</div>

			{{#if currentUser}}
			<div class = "col-xs-2">
				<button type="button" class="btn btn-default" id="connect-btn">Connect</button>
			</div>
			
			<div class = "col-xs-2">
				<button type="button" class="btn btn-default" id="irc-btn">Chat</button>
			</div>

			<div class = "col-xs-2">
				<button type="button" class="btn btn-default" id="logs-btn">Logs</button>
			</div>

			<div class = "col-xs-2">
				<button type="button" class="btn btn-default" id="help-btn">Help</button>
			</div>

			<div class = "col-xs-2">
				<button type="button" class="btn btn-default" id="logout-btn">Logout</button>
			</div>

			{{else}}

			<div class = "col-xs-6"> </div>

			<div class = "col-xs-2">
				<button type="button" class="btn btn-default" id="help-btn">Help</button>
			</div>

			<div class = "col-xs-2">
                <button type="button" class="btn btn-default" id="login-btn">Login</button>
			</div>

			{{/if}}

			<!--<div class="col-xs-1">

			<div class="col-xs-1">
				<button>
					<a>View</a>
				</button>
			</div>
			<div class="col-xs-1">
				<button>
					<a>Window</a>
				</button>
			</div>-->

		</div>
	</header>
</template>
