<!-- This is the main templare ircPage -->
<template name="ircPage">

	<div class ="row category">
		<div class = "col-xs-4 col-sm-3 col-md-2">
			<h4> Channels </h4>
		</div>

		<div class = "col-xs-5 col-sm-7 col-md-8">
			<h4> Messages </h4>
		</div>

		<div class = "col-xs-3 col-sm-2">
			<h4> Users </h4>
		</div>
	</div>

	<div class ="row">
		<!-- This is where the list of channels are displayed -->
		<div class = "col-xs-4 col-sm-3 col-md-2 channel-list">

			{{#each channels}}
				<p> <a>{{channelname}}</a> </p>
			{{/each}}

			<hr />			

			<input class="form-control" placeholder="#channelName ..."> 
			<p></p>
			<button id="input-message">add channel</button>
			<button id="input-message">remove channel</button>
		</div>

		<!-- This is where the chat window is displayed -->
		<div class = "col-xs-5 col-sm-7 col-md-8 chat-window">	

			{{#each messages}}
				<p>{{this.message}}</p>
			{{/each}}

		</div>

		<!-- This is where the list of users are displayed -->
		<div class = "col-xs-3 col-sm-2 user-list">

			<div class="window-content">
			{{#each users}}
				<p>{{username}}</p>
			{{/each}}
			</div>

		</div>
	</div>	

	<div class = "row">

		<div class = "col-xs-12 input-field">

			<div class="col-xs-2">
				<p> Jake </p>
			</div>

			<div class="col-xs-8"> 
				<input id="msg-bar" class="form-control col-xs-10" placeholder="enter text here..."> 
			</div>

			<div class = "col-xs-2"> 
				<button id="msg-btn">enter</button>
			</div>
		</div>

	</div>

</template>

<template name="header">
	<header class = "row">
		<div class="col-xs-12 nav-bar">
			<div class="col-xs-7">
				<h4>Jake's IRC Client</h4>
			</div>

			<div class = "col-xs-5">
			</div>

			<!--<div class="col-xs-1">
				<button>
					<a>Menu</a>
				</button>
			</div>
			<div class="col-xs-1">
				<button>
					<a>View</a>
				</button>
			</div>
			<div class="col-xs-1">
				<button>
					<a>Server</a>
				</button>
			</div>
			<div class="col-xs-1">
				<button>
					<a>Window</a>
				</button>
			</div>
			<div class="col-xs-1">
				<button>
					<a>Help</a>
				</button>
			</div>-->
		</div>
	</header>
</template>

<!-- This template allows for the message to have multiple meteor parameters -->
<!-- <template name="listmsg">
	<p>{{timestamp}} | {{user}}: {{content}}</p>
</template>-->
